language: r
cache: packages

matrix:
  include:
    - os: linux
      r: release
      env:
        - R_CODECOV=true
    - os: linux
      r: devel
    - os: linux
      r: oldrel
    - os: linux
      r: 3.2
    - os: osx
      osx_image: xcode8.3

warnings_are_errors: true

notifications:
  email:
    on_success: change
    on_failure: change

after_success:
  - if [[ "${{R_CODECOV}}" ]]; then Rscript -e 'covr::codecov()'; fi
